@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* icons center styles */

.master-icon-center {
    max-width: 1330px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.icons-name {
    display: flex;
    gap: 5px;
    border-radius: 50px;
    background: #FFF;
    width: 300px;
    height: 80px;
    color: #0B0223;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    align-items: center;
}

.icons-name img {
    width: 50px;
}

.icons-name:hover {
    border: 2px solid #F948B2;
    color: #F948B2;
    padding: 8px;
}

.games-icon-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 23px;
    place-items: center;
}


/* footer section */

.footer-info {
    background: #0B0223;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-con {
    display: flex;
    gap: 5px;
}

.title-img-head {
    margin-top: 0px;
}

.footer-para-one,
.footer-para-two {
    display: flex;
    gap: 20px;
}

.footer-para-one {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.footer-para-two {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    gap: 60px;
}

.icon-foot-pics img {
    width: 40px;
}

.foot-note {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}





@media screen and (max-width: 576px) {
    .games-icon-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        max-width: 300px;
    }

    .icons-name {
        width: 32px;
        font-size: 12px;
    }

    .icons-name:hover {
        border: 2px solid #F948B2;
        color: #F948B2;
        padding: 4px;
        width: 150px;
        height: 80px;
    }

    .footer-para-one {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-para-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .foot-note {
        font-size: 13px;
    }
    .icon-center>ul {
        padding: 0;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    .games-icon-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 400px;
    }
    
}